@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
    --black: #24252a;
    --white: #edf0f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.2)), url("./images/svg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
    margin: auto;
}

.btn {
    color: var(--white);
    padding: 9px 26px;
    background-color: rgba(30, 143, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(30, 143, 255, 0.8);
}


/* Start Header */

header {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 15%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.header-container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    color: var(--black);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgba(30, 143, 255, 1);
}


/* End Header */


/* Start Home */

.home {
    height: 90vh;
    position: relative;
}

.home-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-content h1 {
    font-family: "Poppins";
    font-size: 40px;
    padding-left: 10px;
}

.home input {
    margin-top: 10px;
    width: 400px;
    height: 45px;
    outline: none;
    border: 2px solid #24252a;
    border-radius: 50px;
    padding-left: 20px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}

.home input:focus {
    box-shadow: 0px 0px 10px rgba(30, 143, 255, 0.5);
}

.home-btn {
    margin-left: 20px;
}


/* End Home */


/* Start footer */

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 2vh 0;
}

.footer-container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh 0;
}

.footer-left,
.footer-center,
.footer-right {
    width: 320px;
}

.footer ul li {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: var(--white);
}

.footer h4 {
    font-family: Verdana, sans-serif;
}

.footer p,
.footer-links,
.footer-right li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.footer-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50px;
    height: 4px;
    background-color: var(--darkBlue);
    outline: none;
    border: none;
}

.footer-left img {
    width: 95px;
    margin-bottom: 10px;
}

.sm-links {
    margin-top: 20px;
}

.sm-links a {
    -webkit-tap-highlight-color: transparent;
}

.sm-links i {
    font-size: 20px;
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
}

.sm-links i:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}

.footer-center {
    padding-left: 60px;
}

.footer-center a {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.footer-center a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer-right i {
    margin-bottom: 13px;
    margin-right: 10px;
}

.copyright {
    width: fit-content;
    display: block;
    margin: auto;
    padding: 5px;
}


/* End footer */